/*--------------------------------------------------------------
## Animation Styles
--------------------------------------------------------------*/

.image--zoom {
    .bg-image {
        transform: scale(1.02);
        transition: 0.5s ease transform;
    }
    &:hover {
        .bg-image {
            transform: none;
        }
    }
}

/* ------------ Related Project ------------ */

.project--hover {
    .see-more {
        opacity: 0;
        transition: 0.5s ease opacity;
    }
    &:hover {
        .see-more {
            opacity: 1;
        }
    }
}

/* ------------ Fade In Link ------------ */

.fade--in {
    opacity: 0;
    transition: 0.65s ease opacity 0.2s;
    &.sal-animate {
        opacity: 1;
    }
}

/* ------------ Button Link ------------ */

.btn-arrow {
    display: flex;
    align-items: center;
    gap: 10px;
    svg {
        transition: transform 0.3s ease;
        transform-origin: center;
    }
    &:hover svg {
        transform: rotate(90deg);
    }
}

/* ------------ Filter Styles ------------ */

.filter {
    transition: opacity 0.3s ease;
    &:hover {
        opacity: 1;
    }
}

/* ------------ Preloader Styles ------------ */

.preloader {
    position: fixed;
    inset: 0;
    background: #000;
    z-index: 11;
    pointer-events: none;
}

.preloader-tagline {
    position: absolute;
    left: 10px;
    bottom: 10px;
    opacity: 0;
}

.office-text {
    opacity: 0;
    white-space: nowrap;
    div,
    span {
        opacity: 0;
        display: inline-block;
    }
}

.preloader-seek {
    opacity: 0;
}

.nav-links--intro {
    opacity: 0;
}

/* ------------ Page Transition ------------ */

.page--transition {
    opacity: 0;
    will-change: opacity;
    z-index: 9999;
    &.fade--out {
        animation: fadeOut 0.35s ease forwards;
    }
    &.fade--in {
        animation: fadeIn 0.35s ease forwards 0.5s;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
