/*--------------------------------------------------------------
## Animation Styles
--------------------------------------------------------------*/

.op-link {
    opacity: 1;
    transition: opacity 0.3s ease;
    &:hover {
        opacity: 0.5;
    }
    &.inverse {
        opacity: 0.5;
        &:hover {
            opacity: 1;
        }
    }
}

/* ------------ Fade In Link ------------ */

.fade--in {
    opacity: 0;
    transition: 0.65s ease opacity 0.2s;
    &.sal-animate {
        opacity: 1;
    }
}

/* ------------ Button Link ------------ */

.btn-arrow {
    display: flex;
    align-items: center;
    gap: 10px;
    svg {
        transition: transform 0.3s ease;
        transform-origin: center;
    }
    &:hover svg {
        transform: rotate(90deg);
    }
}

/* ------------ Page Transition ------------ */

.page--transition {
  opacity: 0;
  will-change: opacity;
  z-index: 9999;
  &.fade--out {
    animation: fadeOut 0.25s ease forwards;
  }
  &.fade--in {
    animation: fadeIn 0.4s ease forwards 0.5s;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}