/*--------------------------------------------------------------
## Animation Styles
--------------------------------------------------------------*/

.op-link {
    opacity: 1;
    transition: opacity 0.3s ease;
    &:hover {
        opacity: 0.5;
    }
    &.inverse {
        opacity: 0.5;
        &:hover {
            opacity: 1;
        }
    }
}

/* ------------ Opacity Link ------------ */

.btn-arrow {
    display: flex;
    align-items: center;
    gap: 10px;
    svg {
        transition: transform 0.3s ease;
        transform-origin: center;
    }
    &:hover svg {
        transform: rotate(90deg);
    }
}