/*--------------------------------------------------------------
## Component Styles
--------------------------------------------------------------*/

.journal-title {
    display: flex;
    align-items: baseline;
    gap: 15px;
    transition: opacity 0.5s ease;
    cursor: pointer;
    &::before {
        content: "";
        width: 10px;
        height: 10px;
        min-width: 10px;
        border-radius: 50%;
        background: #fff;
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    &.active::before {
        opacity: 1;
    }
}

.journal-titles:has(.journal-title:hover) {
    @media (hover: hover) {
        .journal-title:not(:hover) {
            opacity: 0.5;
        }
    }
}

.cursor-image {
    position: fixed;
    pointer-events: none;
    z-index: 10;
    transition: opacity 0.2s ease;
    width: 300px;
}

/* ------------ Embla Styles ------------ */

.embla {
    overflow: hidden;
}

.embla__container {
    display: flex;
    gap: 5px;
}

.embla__slide {
    flex: 0 0 auto;
    width: calc(25% - 4px);
}
