/*--------------------------------------------------------------
## Global Styling
--------------------------------------------------------------*/

a {
  color: inherit;
}

.link {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.overflow {
  overflow: hidden;
}

/* ------------ Grid Styles ------------ */

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* ------------ Flex Styles ------------ */

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

/* ------------ Gap Styles ------------ */

.gap-20 {
  gap: 20px;
}

.gap-40 {
  gap: 40px;
}

/* ------------ Margin Styles ------------ */

.m0 {
  margin: 0px;
}

.ma {
  margin: auto;
}

.mla {
  margin-left: auto;
}

.mra {
  margin-right: auto;
}

.mta {
  margin-top: auto;
}

.mba {
  margin-bottom: auto;
}

/* ------------ Padding Styles ------------ */

.p0 {
  padding: 0px;
}

.p20 {
  padding: 20px;
}

.p40 {
  padding: 40px;
}

/* ------------ Position Styles ------------ */

.pos-rel {
  position: relative;
}

.sticky {
  position: sticky;
  top: 0;
}

/* ------------ Z-Index Styles ------------ */

.z-2 {
  z-index: 2;
}

/* ------------ BG Styles ------------ */

.bg-grey {
  background-color: rgba(0, 0, 0, 0.1);
}

/* ------------ Image Styles ------------ */

div.bg-image,
.bg-image {
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

/* ------------ Spacer Styles ------------ */

.spacer {
  height: 100px;
}

/* ------------ Ratio Styles ------------ */

.ratio-1-2 {
  width: 100%;
  aspect-ratio: 1 / 2;
}

.ratio-2-1 {
  width: 100%;
  aspect-ratio: 2 / 1;
}

/* ------------ Width Styles ------------ */

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

/* ------------ Height Styles ------------ */

.h-100 {
  height: 100%;
}

.h-100vh {
  height: 100vh;
}

/* ------------ Max Styles ------------ */

.max-1600 {
  max-width: 1600px;
}

/* ------------ Mobile Styles ------------ */

.m-hide {
  @media (max-width: 768px) {
    display: none;
  }
}

.m-show {
  display: none;
  @media (max-width: 768px) {
    display: inherit;
  }
}

.m-wrap {
  @media (max-width: 768px) {
    flex-wrap: wrap;
  }
}

.m-100 {
  @media (max-width: 768px) {
    width: 100%;
  }
}
