/*--------------------------------------------------------------
## Global Styling
--------------------------------------------------------------*/

a {
    color: inherit;
}

.cursor-grab {
    cursor: grab;
    &:active {
        cursor: grabbing;
    }
}

/* ------------ Border Styles ------------ */

.bt-1 {
    border-top: 1px solid #fff;
}

.bb-1 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

/* ------------ General Styles ------------ */

.link {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.overflow {
    overflow: hidden;
}

.fw-300 {
    font-weight: 300;
}

.balance {
    text-wrap: balance;
}

/* ------------ Font Styles ------------ */

.f-14 {
    font-size: 14px;
}

.f-15 {
    font-size: 15px;
}

.f-18 {
    font-size: 18px;
}

.f-20 {
    font-size: 20px;
    @media (max-width: 768px) {
        font-size: 18px;
    }
}

.f-500 {
    font-weight: 500;
}

.gerstner {
    font-family: "Gerstner Programm FSL";
}

.text-lg {
    font-size: 16px;
    font-family: "Gerstner Programm FSL";
    letter-spacing: -0.0125em;
}

/* ------------ Grid Styles ------------ */

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    @media (max-width: 768px) {
        grid-template-columns: 1fr 1fr;
    }
}

.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

/* ------------ Order Styles ------------ */

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

/* ------------ Flex Styles ------------ */

.block {
    display: block;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-col {
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.shrink-0 {
    flex-shrink: 0;
}

/* ------------ Gap Styles ------------ */

.gap-0 {
    gap: 0px;
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.gap-30 {
    gap: 30px;
}

.gap-40 {
    gap: 40px;
}

.gap-60 {
    gap: 60px;
}

.row-gap-40 {
    row-gap: 40px;
}

.row-gap-60 {
    row-gap: 60px;
}

.row-80 {
    row-gap: 80px;
}

/* ------------ Margin Styles ------------ */

.m0 {
    margin: 0px;
}

.ma {
    margin: auto;
}

.mla {
    margin-left: auto;
}

.mra {
    margin-right: auto;
}

.mta {
    margin-top: auto;
}

.mba {
    margin-bottom: auto;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.ml60 {
    margin-left: 60px;
}

.mb-20,
.mb20 {
    margin-bottom: 20px;
}

.mb-40,
.mb40 {
    margin-bottom: 40px;
}

.mb10 {
    margin-bottom: 10px;
}

/* ------------ Padding Styles ------------ */

.p0 {
    padding: 0px;
}

.p20 {
    padding: 20px;
}

.p10 {
    padding: 10px;
}

.p40 {
    padding: 40px;
}

.pl10 {
    padding-left: 10px;
}

.pl0 {
    padding-left: 0px;
}

.pt0 {
    padding-top: 0px;
}

.pb0 {
    padding-bottom: 0px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pr0 {
    padding-right: 0px;
}

.pt10 {
    padding-top: 10px;
}

.pt20 {
    padding-top: 20px;
}

.py20 {
    padding-block: 20px;
}

/* ------------ Position Styles ------------ */

.pos-rel {
    position: relative;
}

.sticky {
    position: sticky;
    top: 58px;
}

.top-50 {
    top: 50vh;
}

/* ------------ Z-Index Styles ------------ */

.z-2 {
    z-index: 2;
}

/* ------------ BG Styles ------------ */

.bg-black {
    background-color: #000;
}

.bg-grey {
    background-color: rgba(255, 255, 255, 0.1);
}

.bg-light {
    .bg-grey {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.bg-light {
    background-color: #f2f2f2;
}

.text-black {
    color: #000;
}

/* ------------ Image Styles ------------ */

div.bg-image,
.bg-image {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 101%;
    position: absolute;
    object-fit: cover;
}

.bg-fixed {
    inset: 0px;
    width: 100%;
    height: 100%;
    position: fixed !important;
    object-fit: cover;
}

/* ------------ Spacer Styles ------------ */

.spacer {
    height: 100px;
}

/* ------------ Ratio Styles ------------ */

.ratio-1-2 {
    width: 100%;
    aspect-ratio: 1 / 2;
}

.ratio-1-1 {
    width: 100%;
    aspect-ratio: 1 / 1;
}

.ratio-2-1 {
    width: 100%;
    aspect-ratio: 2 / 1;
}

.ratio-3-2 {
    width: 100%;
    aspect-ratio: 3 / 2;
}

.ratio-4-3 {
    width: 100%;
    aspect-ratio: 4 / 3;
}

.ratio-4-5 {
    width: 100%;
    aspect-ratio: 4 / 5;
}

.ratio-16-9 {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.ratio-16-10 {
    width: 100%;
    aspect-ratio: 16 / 10;
}

.ratio-2-3 {
    width: 100%;
    aspect-ratio: 2 / 3;
}

/* ------------ Width Styles ------------ */

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

/* ------------ Height Styles ------------ */

.h-100 {
    height: 100%;
}

.h-30vh {
    height: 30vh;
}

.h-80vh {
    height: 80vh;
}

.h-100vh {
    height: 100svh;
}

.mh-100vh {
    min-height: 100svh;
}

/* ------------ Max Styles ------------ */

.min-100 {
    min-width: 100px;
}

.max-120 {
    max-width: 120px;
}

.max-180 {
    max-width: 180px;
}

.max-280 {
    max-width: 280px;
}

.max-300 {
    max-width: 300px;
}

.max-350 {
    max-width: 350px;
}

.max-1600 {
    max-width: 1600px;
}

/* ------------ Opacity Styles ------------ */

.op-50 {
    opacity: 0.5;
}

/* ------------ Mobile Styles ------------ */

.m-hide {
    @media (max-width: 768px) {
        display: none;
    }
}

.m-show {
    display: none;
    @media (max-width: 768px) {
        display: inherit;
    }
}

.m-wrap {
    @media (max-width: 768px) {
        flex-wrap: wrap;
    }
}

.m-100 {
    @media (max-width: 768px) {
        width: 100%;
    }
}

.m-order-reset {
    @media (max-width: 768px) {
        order: unset;
    }
}

.m-wa {
    @media (max-width: 768px) {
        width: unset;
    }
}

.m-grid-1 {
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.m-grid-2 {
    @media (max-width: 768px) {
        grid-template-columns: 1fr 1fr;
    }
}

.m-mb20 {
    @media (max-width: 768px) {
        margin-bottom: 20px;
    }
}

.m-mb40 {
    @media (max-width: 768px) {
        margin-bottom: 40px;
    }
}

.m-flex {
    @media (max-width: 768px) {
        display: flex;
    }
}

.m-flex-col-reverse {
    @media (max-width: 768px) {
        flex-direction: column-reverse;
    }
}

.m-gap-5 {
    @media (max-width: 768px) {
        gap: 5px;
    }
}

.m-gap-40 {
    @media (max-width: 768px) {
        gap: 40px;
    }
}

.m-col-1 {
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.m-block {
    display: none;
    @media (max-width: 768px) {
        display: block;
    }
}

.m-gap-0 {
    @media (max-width: 768px) {
        gap: 0;
    }
}

.m-gap-20 {
    @media (max-width: 768px) {
        gap: 20px;
    }
}

.m-ml0 {
    @media (max-width: 768px) {
        margin-left: 0;
    }
}


.m-16 {
    @media (max-width: 768px) {
        font-size: 16px;
    }
}

.m-18 {
    @media (max-width: 768px) {
        font-size: 18px;
    }
}
