/*--------------------------------------------------------------
## Header Styling
--------------------------------------------------------------*/

.masthead {
    width: 100%;
    z-index: 12;
    max-width: 100vw;
    mix-blend-mode: difference;
    position: fixed;
    left: 0px;
    top: 0px;
}

.masthead-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.25s ease;

    @media (max-width: 768px) {
        margin-top: 40px;
    }

    .masthead--menu-open & {
        @media (max-width: 768px) {
            opacity: 0;
            pointer-events: none;
        }
    }
}

.masthead-right {
    margin-left: auto;
    white-space: nowrap;

    @media (max-width: 768px) {
        display: none;
    }
}

.masthead-menu-trigger {
    transition: opacity 0.25s ease;

    @media (max-width: 768px) {
        position: absolute;
        background: transparent;
        color: inherit;
        right: 10px;
        padding: 0;
        top: 10px;
        border: 0;
    }

    .masthead--menu-open & {
        @media (max-width: 768px) {
            opacity: 0;
            pointer-events: none;
        }
    }
}

.nav-links {
    transition: opacity 0.55s ease;
}

.masthead-mobile-nav {
    @media (max-width: 768px) {
        top: 10px;
        left: 10px;
        right: 10px;
        position: absolute;
        align-items: center;
        justify-content: space-between;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.35s ease;

        &.active {
            opacity: 1;
            pointer-events: auto;
        }
    }
}

.masthead-mobile-close {
    @media (max-width: 768px) {
        border: 0;
        padding: 0;
        display: flex;
        color: inherit;
        align-items: center;
        justify-content: center;
        background: transparent;
    }
}
