/*--------------------------------------------------------------
## Header Styling
--------------------------------------------------------------*/

.masthead {
    width: 100%;
    z-index: 12;
    max-width: 100vw;
    mix-blend-mode: difference;
    position: fixed;
    left: 0px;
    top: 0px;
}

.masthead-seek, .masthead-menu-trigger {
    transition: opacity 0.25s ease;
}

.nav-links {
    transition: opacity 0.55s ease;
}

@media (max-width: 768px) {
    .masthead-menu-trigger {
        position: absolute;
        background: transparent;
        color: inherit;
        right: 10px;
        padding: 0;
        top: 10px;
        border: 0;
    }

    .masthead-mobile-nav {
        top: 10px;
        left: 10px;
        right: 10px;
        position: absolute;
        align-items: center;
        justify-content: space-between;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.35s ease;
    }

    .masthead-mobile-nav.active {
        opacity: 1;
        pointer-events: auto;
    }

    .masthead--menu-open .masthead-seek,
    .masthead--menu-open .masthead-menu-trigger {
        opacity: 0;
        pointer-events: none;
    }

    .masthead-mobile-close {
        border: 0;
        padding: 0;
        display: flex;
        color: inherit;
        align-items: center;
        justify-content: center;
        background: transparent;
    }
}
