/*--------------------------------------------------------------
## Header Styling
--------------------------------------------------------------*/

.masthead {
    width: 100%;
    z-index: 12;
    max-width: 100vw;
    mix-blend-mode: difference;
    position: fixed;
    left: 0px;
    top: 0px;
}

.masthead-menu-trigger, .masthead-mobile-nav {
    display: none;
}

@media (max-width: 768px) {
    .masthead-title {
        display: none;
    }

    .masthead-desktop-links {
        display: none;
    }

    .masthead--preloading .masthead-desktop-links {
        display: flex;
    }

    .masthead--preloading .masthead-left {
        gap: 0;
    }

    .masthead--preloading .masthead-desktop-links {
        margin-left: 0;
    }

    .masthead-menu-trigger {
        display: block;
        position: absolute;
        background: transparent;
        color: inherit;
        right: 10px;
        padding: 0;
        top: 10px;
        border: 0;
    }

    .masthead-mobile-nav {
        top: 10px;
        left: 10px;
        right: 10px;
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: space-between;
        pointer-events: none;
        opacity: 0;
    }

    .masthead-mobile-nav.active {
        pointer-events: auto;
    }

    .masthead-mobile-links {
        gap: 20px;
    }

    .masthead-mobile-close {
        border: 0;
        padding: 0;
        display: flex;
        color: inherit;
        align-items: center;
        justify-content: center;
        background: transparent;
    }

    .masthead--menu-open .masthead-seek, .masthead--menu-open .masthead-menu-trigger {
        pointer-events: none;
    }
}
