/*--------------------------------------------------------------
## Link Styling
--------------------------------------------------------------*/

.footer-icon {
    position: absolute;
    bottom: 20px;
    left: 10px;
}

.footer-icon--mobile {
    position: static;
    left: auto;
    bottom: auto;
    display: flex;
    justify-content: center;
}

.spin {
    animation: spin 10s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
