@use "utility" as *;

/*--------------------------------------------------------------
## Link Styling
--------------------------------------------------------------*/

.seek-symbol {
    width: 30px;
    aspect-ratio: 1;
    animation: spin 3s linear infinite;
    background-image: url('../images/symbol.svg');
    animation-play-state: paused;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    &:hover {
        animation-play-state: running;  
    }
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}

.footer-icon {
    position: absolute;
    bottom: 20px;
    left: 10px;
}

.footer-icon--mobile {
    position: static;
    left: auto;
    bottom: auto;
    display: flex;
    justify-content: center;
}

.spin {
    animation: spin 10s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.clarity-logo {
    @include icon("../images/clarity-logo.svg");
    width: 39px;
    aspect-ratio: 1;
    @media (max-width: 768px) {
        width: 24px;
    }
}
