/*--------------------------------------------------------------
## Link Styling
--------------------------------------------------------------*/

.footer-icon {
    position: absolute;
    bottom: 20px;
    left: 10px;
}

.spin {
    animation: spin 10s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
