/*--------------------------------------------------------------
## Layout Styling
--------------------------------------------------------------*/

@font-face {
    font-family: "Gerstner Programm FSL";
    src: url("../fonts/GerstnerProgrammFSL-Medium.woff2") format("woff2"), url("../fonts/GerstnerProgrammFSL-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gerstner Programm FSL";
    src: url("../fonts/GerstnerProgrammFSL-Light.woff2") format("woff2"), url("../fonts/GerstnerProgrammFSL-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stempel Garamond LT Pro';
    src: url('../fonts/StempelGaramondLTPro-Italic.woff2') format('woff2'),
        url('../fonts/StempelGaramondLTPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Stempel Garamond LT Pro';
    src: url('../fonts/StempelGaramondLTPro-Roman.woff2') format('woff2'),
        url('../fonts/StempelGaramondLTPro-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.h0 {
    line-height: 1;
    font-size: 42px;
    font-family: 'Stempel Garamond LT Pro';
    font-weight: 400;
    @media (max-width: 768px) {
        font-size: 24px;
    }
    &.large {
        font-size: 80px;
        @media (max-width: 768px) {
            font-size: 24px;
        }
    }
}

.h1 {
    line-height: 1;
    font-size: 42px;
    font-family: 'Stempel Garamond LT Pro';
    font-weight: 400;
    @media (max-width: 768px) {
        font-size: 26px;
    }
}

.h2 {
    font-size: 32px;
    line-height: 1.1;
    font-family: 'Stempel Garamond LT Pro';
    font-weight: 400;
    @media (max-width: 768px) {
        font-size: 24px;
    }
}

.paragraph {
    font-family: "Gerstner Programm FSL";
    letter-spacing: 1px ;
    line-height: 1.5;
    @media (max-width: 768px) {
        font-size: 16px;
        line-height: 1.2;
    }
}

body {
    color: #fff;
    font-size: 15px;
    line-height: 1.3;
    background: #000;
    font-family: 'Stempel Garamond LT Pro';
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-smooth: always;
    ::selection {
        background: #d2fd78;
        color: #000;
    }
}
