/*--------------------------------------------------------------
## Link Styling
--------------------------------------------------------------*/

.ul-link {
    position: relative;
    &:after {
        content:'';
        width: 100%;
        height: 1px;
        transition: 0.3s ease width;
        background-color: #5d5d5d;
        position: absolute;
        bottom: 0px;
        left: 0px;
    }
    &:hover {
    	&:after {
    		width: 0px;
    	}
    }
}

.op-link {
    opacity: 1;
    transition: opacity 0.3s ease;
    &:hover {
        opacity: 0.5;
    }
    &.inverse {
        opacity: 0.5;
        &:hover {
            opacity: 1;
        }
    }
}