/*--------------------------------------------------------------
## Reset Styling
--------------------------------------------------------------*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0px;
  appearance: none;
  font: inherit;
  color: inherit;
  box-sizing: border-box;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  text-rendering: optimizeLegibility;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  &:focus {
    outline: none;
  }
}

input,
select,
textarea,
fieldset,
option,
label,
button {
  text-align: left;
  border: none;
  appearance: none;
  font: inherit;
  display: block;
  border-radius: 0px;
  background: none;
  &:focus {
    outline: none;
  }
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}
