/*--------------------------------------------------------------
## Utility Styling
--------------------------------------------------------------*/

@mixin icon($url, $size: contain) {
  background-image: url($url);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: $size;
}
